.booking-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.booking-card {
    background: #1e293b;
    padding: 40px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.booking-card h2 {
    text-align: center;
    margin-bottom: 30px;
}

.booking-card label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.booking-card input,
.booking-card select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    background: #334155;
    color: white;
}

.booking-card input:focus,
.booking-card select:focus {
    outline: 2px solid #38bdf8;
}

.passenger-box {
    background: #0f172a;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.passenger-box h4 {
    margin-bottom: 10px;
    color: #38bdf8;
}

.confirm-btn {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #38bdf8, #0ea5e9);
    color: #0f172a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.confirm-btn:hover {
    transform: scale(1.05);
}

.error-text {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}
