{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RailConnect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Common Styles -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    <!-- Page Specific CSS -->
    {% block extra_css %}{% endblock %}
</head>

<body>

    {% include 'includes/navbar.html' %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        © 2026 RailConnect | Smart Train Reservation System
    </footer>

</body>
</html>
