<!DOCTYPE html>
<html>
<head>
    <title>RailConnect</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

<nav class="navbar">

    <div class="nav-left">
        <a href="{% url 'landing' %}" class="logo">
            Rail<span>Connect</span> 
        </a>

        <a href="{% url 'landing' %}" class="nav-link">Home</a>
    </div>

    <div class="nav-right">

        {% if request.session.username %}
            <div class="user-badge">
                 {{ request.session.username }}
            </div>

            <a href="{% url 'logout' %}" class="logout-btn">
                Logout
            </a>
        {% endif %}

    </div>

</nav>


    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        © 2026 RailConnect | Smart Train Reservation System
    </footer>

</body>
</html>
