{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ticket.css' %}">
{% endblock %}

{% block content %}

<div class="ticket-wrapper">

    <div class="ticket">

        <div class="ticket-header">
            <h2>RailConnect Ticket 🎟</h2>
            <span class="pnr">PNR: {{ booking.pnr }}</span>
        </div>

        <div class="route-section">
            <div class="route">
                <h3>{{ booking.train.source }}</h3>
                <p>Departure</p>
            </div>

            <div class="route-line">
                ➝➝➝
            </div>

            <div class="route">
                <h3>{{ booking.train.destination }}</h3>
                <p>Arrival</p>
            </div>
        </div>

        <div class="details">
            <p><strong>Train:</strong> {{ booking.train.train_name }}</p>
            <p><strong>Date:</strong> {{ booking.travel_date }}</p>
            <p><strong>Passengers:</strong> {{ booking.passengers }}</p>
            <p><strong>Total Fare:</strong> ₹{{ booking.total_price }}</p>
        </div>

        <div class="ticket-footer">
            <a href="{% url 'cancel_booking' booking.id %}" class="cancel-btn">
                Cancel Booking
            </a>
        </div>

    </div>

</div>

{% endblock %}
